/* --- LAYOUT --- */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	background-color: #e6f7ff;
}

a {
	text-decoration: none;
	color: #000;
}

ol, 
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* --- HEADER --- */

.name a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.main-nav a {
	background-color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
}

.main-nav li {
	margin-top: 6px;
	margin-bottom: 6px;
}

.profile img {
	margin: 2em 0;
}

.profile p {
	margin-bottom: 2em;
}

.content-box {
	margin-top: 3em;
	font-size: 0.75em;
}

.content-box img {
	width: 100%;
}

/* --- CONTENT --- */

main {
	background-color: #FFF;
}

main .container {
	padding: 1em 0;
}

.contact {
	background-color: #e6f7ff;
}

.contact h3 {
	text-transform: uppercase;
}

.contact span {
	margin: 1em;
	display: block;
}

.contact span a {
	margin: auto 2em;
}

/* --- FOOTER --- */

footer {
	background-color: #FFF;
}

.main-footer {
	overflow: auto;
}

.footer-name {
	float: left;
}

.back-top {
	float: right;
}

.main-footer li, span {
	text-transform: uppercase;
	padding: 1em;
	display: inline-block;
	font-weight: bold;
}

.footer-nav {
	display: none;
}

/*		TABLET     */

@media(min-width: 768px){

/*		HEADER		*/

	nav {
		text-align: center;
	}

	.main-nav li {
		display: inline;
	}

	.main-nav a {
		display: inline-block;
		margin: 0 1em;
	}

	.profile {
		overflow: auto;
	}

	.profile img {
		width: 40%;
		float: right;
	}

	.profile p {
		margin-top: 2em;
		width: 60%;
		float: left;
		line-height: 2em;
		padding: 2em;
	}

/*		MAIN 		*/

	.content-box {
		max-width: 50%;
		padding: 2%;
	}

	.main-content {
		display: flex;
		flex-wrap: wrap;
	}

/*		FOOTER 		*/

	.footer-nav {
		display: inline;
		float: right;
	}

	.back-top a {
		display: none;
	}

}

@media(min-width: 1024px){

/* 		HEADER 		 */

	.main-header {
		overflow: hidden;
	}

	.name a {
		float: left;
	}

	.main-nav {
		float: right;
	}

/* 		MAIN 		 */
	
	.content-box {
		max-width: 33%;
	}

}









